- return unless Gitlab.com? && namespace.shared_runners_minutes_limit_enabled?

.row
  .col-sm-6
    %strong
      = _("Additional minutes")
    %div
      = namespace_extra_shared_runner_limits_quota(namespace)
      minutes
      = link_to icon('question-circle'), help_page_path('subscriptions/index', anchor: 'extra-shared-runners-pipeline-minutes'), target: '_blank', rel: 'noopener noreferrer'
  .col-sm-6.right
    #{namespace_extra_shared_runner_limits_percent_used(namespace)}% used
    = namespace_extra_shared_runner_limits_progress_bar(namespace)
